<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.daoyuan.business.mapper.IExpressCompanyMapper" >


    <select id="queryExpressCompanyById" resultType="com.magic.daoyuan.business.entity.ExpressCompany">

        SELECT * FROM express_company WHERE id = #{id}

    </select>

    <select id="countExpressCompany" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM express_company WHERE isValid = 1
    </select>

    <select id="queryExpressCompany" resultType="com.magic.daoyuan.business.entity.ExpressCompany">
        SELECT * FROM express_company WHERE isValid = 1
        ORDER BY id DESC
        <if test="limit != null and limitSize != null">
            LIMIT #{limit},#{limitSize}
        </if>
    </select>

    <update id="updateExpressCompany" parameterType="com.magic.daoyuan.business.entity.ExpressCompany">
        UPDATE express_company
        <set>
            <if test="isValid != null">
                isValid = #{isValid},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="expressCompanyName != null">
                expressCompanyName = #{expressCompanyName},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addExpressCompany" parameterType="com.magic.daoyuan.business.entity.ExpressCompany">
        INSERT INTO express_company ( expressCompanyName, isValid, url)
        VALUES ( #{expressCompanyName}, 1, #{url})
    </insert>


</mapper>