<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.daoyuan.business.mapper.IRepositoryMapper">

    <select id="queryRepositoryByItems" resultType="com.magic.daoyuan.business.entity.Repository">
        SELECT
        r.*, u.userName as createUserName,
        up.userName as updateUserName
        FROM
        repository r
        LEFT JOIN users u ON u.id = r.createUserId
        LEFT JOIN users up ON up.id = r.updateUserId
        WHERE
        1 = 1
        <if test="title != null">
            AND r.title LIKE '%${title}%'
        </if>
        <if test="antistop != null">
            AND r.antistop LIKE '%${antistop}%'
        </if>
        <if test="kbid != null">
            AND r.KBID LIKE '%${kbid}%'
        </if>
        <if test="type != null">
            AND r.`type`  = #{type}
        </if>
        ORDER BY r.id DESC
        <if test="limit != null and limitSize != null">
            LIMIT #{limit},#{limitSize}
        </if>
    </select>

    <select id="findById" resultType="com.magic.daoyuan.business.entity.Repository">
        SELECT
          r.*, u.userName as createUserName,
        up.userName as updateUserName
        FROM
          repository r
        LEFT JOIN users u ON u.id = r.createUserId
        LEFT JOIN users up ON up.id = r.updateUserId
        WHERE
        r.id = #{id}
    </select>

    <update id="update" parameterType="com.magic.daoyuan.business.entity.Repository">
        UPDATE repository
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="antistop != null">
                `antistop` = #{antistop},
            </if>
            <if test="startValidity != null">
                `startValidity` = #{startValidity},
            </if>
            <if test="endValidity != null">
                `endValidity` = #{endValidity},
            </if>
            <if test="externalInfo != null">
                `externalInfo` = #{externalInfo},
            </if>
            <if test="interiorInfo != null">
                `interiorInfo` = #{interiorInfo},
            </if>
            <if test="roleIds != null">
                `roleIds` = #{roleIds},
            </if>
            <if test="updateUserId != null">
                `updateUserId` = #{updateUserId},
            </if>
            <if test="isValid != null">
                `isValid` = #{isValid},
            </if>
            `updateTime` = NOW(),
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.magic.daoyuan.business.entity.Repository">
        INSERT INTO repository ( KBID, `title`, `type`, antistop, `startValidity`, `endValidity`, externalInfo, interiorInfo, roleIds, createUserId, isValid, createTime)
        VALUES ( #{KBID}, #{title}, #{type}, #{antistop}, #{startValidity}, #{endValidity}, #{externalInfo}, #{interiorInfo}, #{roleIds}, #{createUserId}, 0, NOW())
    </insert>

    <select id="countRepositoryByItems" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        repository r
        WHERE
        1=1
        <if test="title != null">
            AND r.title LIKE '%${title}%'
        </if>
        <if test="antistop != null">
            AND r.antistop LIKE '%${antistop}%'
        </if>
        <if test="kbid != null">
            AND r.KBID LIKE '%${kbid}%'
        </if>
        <if test="type != null">
            AND r.`type`  = #{type}
        </if>
    </select>

    <select id="countNumber" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        repository r
        WHERE
        DATE_FORMAT(r.createTime,'%y-%m') = DATE_FORMAT('${dateTime}','%y-%m')
    </select>



</mapper>